body {
  background-color: #E6E6FA;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 600;
  text-align: center;
  background-color: #D8BFD8;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  
}

h2 {
  font-weight: 400;
  text-align: center;
}

.recipeContainer {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #f5eefc;
  border: 1px solid #c9a6df;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
form {
  align-content: center;
  background-color: #bfd8bf;
  border-radius: 15;
  padding: 20px;
  max-width: 700px;
}

form label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: #000000;
}

form input[type="text"],
form input[type="number"],
form textarea,
form select {
  width: 100%;
  height: 40px;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
}

form .btn {
  background-color: #f0fae6;
  border: none;
  color: #000;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.btn {
  border-radius: 20px;
  padding: 5px 12px;
  transition: 0.2s;
}

.main-container {
  text-align: center;
  margin-top: 40px;
  line-height: 2;
  background-color: #D8BFD8;
}
.main-container a {
  color: #000000;
  text-decoration: none;
  text-align: center;
}

/* #faf0e6
#f0fae6 
#bfd8bf
*/
