<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <link type="text/css" rel="stylesheet"
          href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />

    <link type="text/css" rel="stylesheet"
          href="/css/custom.css"
          th:href="@{/css/custom.css}" />
</head>
<body>
    <h1>Add Category</h1>
    <form th:action="@{/saveCategory}" th:object="${category}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <input type="submit" value="Save"/>
    </form>
    <br>
    <a href="/categorylist">Back to category list</a>
</body>
</html>