<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Reseptikirja</title>
     <link type="text/css" rel="stylesheet"
          href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet"
          href="/css/custom.css"
          th:href="@{/css/custom.css}" />
</head>
<body>
    <h1 th:text="${recipe.title}"></h1>
    
    <div class="recipeContainer">
            <p><strong>Kategoria:</strong><span th:text="${recipe.category.name}"></span></p>
            <p><strong>Valmistusaika:</strong><span th:text="${recipe.prepTime}"></span></p>
            <p><strong>Paistoaika:</strong><span th:text="${recipe.bakeTime}"></span></p>
            <p><strong>Ainesosat:</strong><span th:text="${recipe.ingredients}"></span></p>
            <p><strong>Valmistus:</strong><span th:text="${recipe.steps}"></span></p>
    </div>

    <div>
            <a sec:authorize ="hasAuthority('ADMIN')" th:href="@{/edit/{id}(id=${recipe.id})}">Muokkaa ohjetta</a>
            <a sec:authorize ="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${recipe.id})}">Poista ohje</a>
            <a href="/recipelist">← Takaisin listaan</a>
    </div>
</body>
</html>