<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Reseptikirja</title>
     <link type="text/css" rel="stylesheet"
          href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet"
          href="/css/custom.css"
          th:href="@{/css/custom.css}" />
</head>
<body>
    <form th:action="@{/recipeSearch}" th:object="${recipe}" method="post">
        <input th:field="*{title}" placeholder="Etsi reseptiä nimellä"/>
       <select name="categoryId">
        <option value="" th:selected="${selectedCategoryId == null}">Kaikki kategoriat</option>
        <option th:each="cat : ${categories}"
                th:value="${cat.id}"
                th:text="${cat.name}"
                th:selected="${selectedCategoryId == cat.id}">
        </option>
    </select>
        <button type="submit">Hae reseptiä</button>
    </form>
    
    
    <div th:each="recipe:${foundRecipes}" class="recipeContainer">
        <h1 th:text="${recipe.title}"></h1>
            <p><strong>Kategoria:</strong><span th:text="${recipe.category.name}"></span></p>
            <p><strong>Valmistusaika:</strong><span th:text="${recipe.prepTime}"></span></p>
            <p><strong>Paistoaika:</strong><span th:text="${recipe.bakeTime}"></span></p>
            <p><strong>Ainesosat:</strong><span th:text="${recipe.ingredients}"></span></p>
            <p><strong>Valmistus:</strong><span th:text="${recipe.steps}"></span></p>

            <a th:href="@{'/recipe/' + ${recipe.id}}">Avaa resepti</a>
            <a sec:authorize ="hasAuthority('ADMIN')" th:href="@{/edit/{id}(id=${recipe.id})}">Muokkaa ohjetta</a>
            <a sec:authorize ="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${recipe.id})}">Poista ohje</a>
    </div>
    <div>
            <a href="/recipelist"> ← Takaisin reseptilistaan</a>
    </div>
</body>
</html>